# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Filepath, Making DataFrame & Dropping NaN Rows
WeatherData    = "../output_data/CityData.csv"
WeatherDataDf  = pd.read_csv(WeatherData )
WeatherDataDf  = WeatherDataDf.dropna()
WeatherDataDf

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,albany,42.60,-73.97,57.99,51.0,0.0,3.00,US,1.592023e+09
1,rikitea,-23.12,-134.97,75.85,81.0,71.0,18.01,PF,1.592023e+09
2,miracatu,-24.28,-47.46,71.56,80.0,100.0,2.53,BR,1.592023e+09
3,punta arenas,-53.15,-70.92,32.00,88.0,64.0,11.41,CL,1.592023e+09
4,santa gertrudis,19.73,-99.37,54.16,78.0,91.0,5.23,MX,1.592023e+09
...,...,...,...,...,...,...,...,...,...
566,boa vista,2.82,-60.67,77.00,88.0,75.0,5.82,BR,1.592023e+09
568,rochegda,62.80,43.25,49.86,60.0,25.0,4.36,RU,1.592023e+09
569,broome,42.25,-75.83,51.01,66.0,1.0,11.41,US,1.592023e+09
571,bontang,0.13,117.50,86.11,65.0,16.0,6.42,ID,1.592022e+09
573,san antonio,29.42,-98.49,80.60,53.0,1.0,3.36,US,1.592022e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps & Create Location Variables 
gmaps.configure(api_key=g_key)
Locations = WeatherDataDf[['Lat','Lng']]
Humidity  = WeatherDataDf['Humidity']
#  Create Heat Layer
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(Locations, weights = Humidity))
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# A max temperature lower than 80 degrees but higher than 70.
IdealTemp = WeatherDataDf.loc[(WeatherDataDf['Max_Temp']<80) & (WeatherDataDf['Max_Temp']>70)]
# Wind speed less than 10 mph.
IdealWind = IdealTemp.loc[(IdealTemp['Wind_Speed']<10)]
# Zero cloudiness.
IdealClouds = IdealWind.loc[(IdealWind['Cloudiness']==0)]
IdealClouds

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
28,tashtyp,52.79,89.90,76.44,44.0,0.0,2.51,RU,1.592023e+09
35,mayor pablo lagerenza,-19.93,-60.77,75.47,67.0,0.0,6.11,PY,1.592023e+09
157,ashqelon,31.67,34.57,77.00,40.0,0.0,2.24,IL,1.592023e+09
240,joshimath,30.57,79.57,74.75,21.0,0.0,4.50,IN,1.592023e+09
340,troitskoye,52.98,84.68,74.73,58.0,0.0,7.20,RU,1.592023e+09
346,celestun,20.87,-90.40,79.05,84.0,0.0,9.19,MX,1.592023e+09
366,jumla,29.27,82.18,73.53,43.0,0.0,4.38,NP,1.592023e+09
421,gat,31.61,34.76,77.00,42.0,0.0,3.69,IL,1.592022e+09
424,nueva loja,0.08,-76.88,70.92,90.0,0.0,0.72,EC,1.592023e+09
450,mizdah,31.45,12.98,71.83,39.0,0.0,9.84,LY,1.592023e+09
476,toora-khem,52.47,96.11,71.13,41.0,0.0,4.12,RU,1.592023e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = IdealClouds
# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = "" 
# Fixing The Index
hotel_df.index = range(len(hotel_df))
hotel_df

/Users/rc/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel Name
0,tashtyp,52.79,89.90,76.44,44.0,0.0,2.51,RU,1.592023e+09,
1,mayor pablo lagerenza,-19.93,-60.77,75.47,67.0,0.0,6.11,PY,1.592023e+09,
2,ashqelon,31.67,34.57,77.00,40.0,0.0,2.24,IL,1.592023e+09,
3,joshimath,30.57,79.57,74.75,21.0,0.0,4.50,IN,1.592023e+09,
4,troitskoye,52.98,84.68,74.73,58.0,0.0,7.20,RU,1.592023e+09,
5,celestun,20.87,-90.40,79.05,84.0,0.0,9.19,MX,1.592023e+09,
6,jumla,29.27,82.18,73.53,43.0,0.0,4.38,NP,1.592023e+09,
7,gat,31.61,34.76,77.00,42.0,0.0,3.69,IL,1.592022e+09,
8,nueva loja,0.08,-76.88,70.92,90.0,0.0,0.72,EC,1.592023e+09,
9,mizdah,31.45,12.98,71.83,39.0,0.0,9.84,LY,1.592023e+09,
10,toora-khem,52.47,96.11,71.13,41.0,0.0,4.12,RU,1.592023e+09,

In [7]:
# Set parameters to search for hotels with 5000 meters.
MainUrl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params   = {"radius": 5000,"type": "lodging","key": g_key,}
# Data Manipulation
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(MainUrl, params=params).json()   
    results  = response['results']
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    print("------------")

Retrieving Results for Index 0: tashtyp.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: mayor pablo lagerenza.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: ashqelon.
Closest hotel is Leonardo Ashkelon.
------------
Retrieving Results for Index 3: joshimath.
Closest hotel is Shivalik Camps & Resort.
------------
Retrieving Results for Index 4: troitskoye.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: celestun.
Closest hotel is Posada Lilia.
------------
Retrieving Results for Index 6: jumla.
Closest hotel is Hotel Sundar Rara Karnali.
------------
Retrieving Results for Index 7: gat.
Closest hotel is רגע בנחת.
------------
Retrieving Results for Index 8: nueva loja.
Closest hotel is Limoncocha Great Hotel.
------------
Retrieving Results for Index 9: mizdah.
Closest hotel is محمدالمبروك الاريقط.
------------
Retrieving Results for Index 10: toora-khem.
Missing field/result... skipping.
------------

In [8]:
hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel Name
0,tashtyp,52.79,89.90,76.44,44.0,0.0,2.51,RU,1.592023e+09,
1,mayor pablo lagerenza,-19.93,-60.77,75.47,67.0,0.0,6.11,PY,1.592023e+09,
2,ashqelon,31.67,34.57,77.00,40.0,0.0,2.24,IL,1.592023e+09,Leonardo Ashkelon
3,joshimath,30.57,79.57,74.75,21.0,0.0,4.50,IN,1.592023e+09,Shivalik Camps & Resort
4,troitskoye,52.98,84.68,74.73,58.0,0.0,7.20,RU,1.592023e+09,
5,celestun,20.87,-90.40,79.05,84.0,0.0,9.19,MX,1.592023e+09,Posada Lilia
6,jumla,29.27,82.18,73.53,43.0,0.0,4.38,NP,1.592023e+09,Hotel Sundar Rara Karnali
7,gat,31.61,34.76,77.00,42.0,0.0,3.69,IL,1.592022e+09,רגע בנחת
8,nueva loja,0.08,-76.88,70.92,90.0,0.0,0.72,EC,1.592023e+09,Limoncocha Great Hotel
9,mizdah,31.45,12.98,71.83,39.0,0.0,9.84,LY,1.592023e+09,محمدالمبروك الاريقط
10,toora-khem,52.47,96.11,71.13,41.0,0.0,4.12,RU,1.592023e+09,

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations  = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))